# FIDO u2f devices for two-factor authentication; current clients access the
# device directly
ACTION!="add|change", GOTO="fido_u2f_end"
SUBSYSTEM!="hidraw", GOTO="fido_u2f_end"
KERNEL!="hidraw*", GOTO="fido_u2f_end"

# FIDO u2f devices, until there is a proper kernel driver
ATTRS{idVendor}=="1050", ATTRS{idProduct}=="0113|0114|0115|0116|0120|0402|0403|0406|0407|0410", TAG+="uaccess"

# Happlink (formaly Plug-Up) Security KEY
ATTRS{idVendor}=="2581", ATTRS{idProduct}=="f1d0", TAG+="uaccess"

# Neowave Keydo
ATTRS{idVendor}=="1e0d", ATTRS{idProduct}=="f1d0", TAG+="uaccess"

# HyperSecu HyperFIDO
ATTRS{idVendor}=="096e", ATTRS{idProduct}=="0880", TAG+="uaccess"

LABEL="fido_u2f_end"
